/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bone {
  width: 70px;
}

li{
  list-style: none;
}

.family{
   position: absolute;
   width: 100%;
   top: 482px;
   left: 29px;
   margin: 0 auto;
  font-size: 14px;
  color: white;
}

.dog-photo{
    width: 350px;
    max-height: 400px;
    min-height:400px;
    object-fit: cover;

}

.hidden{
  display: hidden;
}
/* .pagination { 
   padding: 3px;
   margin: 3px; 
  } 
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #aaaadd; text-decoration: none; color: #000099; } 
.pagination a:hover, 
.pagination a:active { border: 1px solid #000099; color: #000; } 
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; } 
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; } */